exportPattern("^[[:alpha:]]+")

import(optimx)
import(Formula)
import(methods)
import(Biobase)
import(ggplot2)
import(plyr)
importFrom(multtest, mt.rawp2adjp)
importFrom(BiocParallel, bplapply)
importFrom("stats", "as.formula", "coef", "dnorm", "formula",
             "model.matrix", "na.pass", "pchisq", "pnorm", "sd", "terms")

exportMethods(yvals)
exportMethods(zdesign)
exportMethods(xdesign)
