exportPattern("^[[:alpha:]]+")

import(optimx)
import(Formula)
import(methods)
import(Biobase)
import(ggplot2)
import(plyr)
importFrom(multtest, mt.rawp2adjp)
importFrom(BiocParallel, bplapply)

exportMethods(yvals)
exportMethods(zdesign)
exportMethods(xdesign)
